<h1><%= @stop.name %></h1>
<%= link_to 'Back', stops_path %>

<div class="container">
<p>id: <%= @stop.id %></p>
<%= simple_form_for(@stop) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.input :lat %>
  <%= f.input :lon %>
  <%= f.input :visit_time %>
  <%= f.input :introduction, as: :text %>
  <%= f.input :photo1 %>
  <%= f.input :photo2 %>
  <%= f.input :photo3 %>
  <%= f.input :images, as: :file, input_html: { multiple: true } %>

  <% @stop.images.each do |photo| %>
      <%= image_tag photo, height: 300, width: 400 %>
      <%= url_for(photo) %>
      <%= link_to 'Delete photo', delete_image_attachment_stop_url(photo.signed_id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div><% end %>
  
</div>

