
<div class="container">
  <h1>Stops</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>visit time</th>
      </tr>
    </thead>
  <% n = 1 %>
    <tbody>
      <% @stops.each do |stop1| %>
        <tr>
          <td><%= n %>. - <%= stop1.id %> - <%= stop1.name %></td>
          <td><%= stop1.visit_time %> mins</td>
          <td><%= link_to 'Show', stop1 %></td>
          <td><%= link_to 'Edit', edit_stop_path(stop1) %></td>
        </tr>
        <% n = n + 1 %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Stop', new_stop_path %>
</div>
