<div class="container">
  <h1 class="d-flex justify-content-between pt-5"><%= @stop.name %>   <small class="text-right flex-shrink-0 btn btn-danger"><%= link_to 'delete STOP', stop_path(@stop), method: :delete, data: { confirm: "Are you sure you want to remove #{@stop.name} from your list"}, class: 'text-dark' %></small></h1>
  <%= link_to 'Back  |  ', stops_path %>
  <%= link_to 'Edit', edit_stop_path(@stop) %>

  <div class="container mt-3">
    <p>id: <%= @stop.id %></p>
    <p>name: <%= @stop.name %></p>
    <p>addres: <%= @stop.address %></p>
    <p>category <%= @stop.category %></p>
    <p>latitude <%= @stop.lat %></p>
    <p>longitude <%= @stop.lon %></p>
    <p>photo1 <a href="<%= @stop.photo1 %>"><%= @stop.photo1 %></a></p>
    <p>photo2 <a href="<%= @stop.photo2 %>"><%= @stop.photo2 %></a></p>
    <p>photo3 <a href="<%= @stop.photo3 %>"><%= @stop.photo3 %></a></p>
    <p>visit time: <%= @stop.visit_time %></p>
    <p>introduction: <%= @stop.introduction %></p>

    <% @stop.images.each do |photo| %>
      <%= image_tag photo, height: 300, width: 400 %>
      <p>url_for :  <%= url_for(photo) %> <br></p>
      <p>service_url : <%= photo.service_url %></p>
    <% end %>
    
  </div>

 
<br>
<br>

  <%= link_to 'Back', stops_path %>
</div>
